[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "discord-rpc"]
	path = discord-rpc
	url = https://github.com/discord/discord-rpc
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "subhook"]
	path = subhook
	url = https://github.com/BlueNightHawk/subhook
